* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    line-height: 1.6;
    background-color: azure;
    color: aliceblue;
}

header{
    background: #1f2933;
    color: #fff;
    padding: 2rem;
    text-align: center;
}

nav{
    background: #111827;
    padding: 1rem;
    text-align: center;
}

nav a{
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section{
    padding: 3rem 2rem;
    max-width: 1000px;
    margin: auto;
}

h2{
    margin-bottom: 1rem;
    color:#1f2933;
}

.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 1.5rem;
}

.card{
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

footer{
    background: #1f2933;
    color: #fff;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem;
}